body {
  background-color: #f4f4f4;
}

.color-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.color-box {
  width: 150px;
  height: 150px;
}

.color1 {
  background-color: #ff5733;
}

.color2 {
  background-color: rgb(52, 152, 219);
}

.color3 {
  background-color: tomato;
}

.color4 {
  background-color: hsl(120, 60%, 50%);
}

.color5 {
  background-color: purple;
}
